<div class="limiter animated fadeInRight">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" [ngStyle]="{'background-image': 'url(' + logo + ')'}">
        <span class="login100-form-title-1">
          Login Firebase
        </span>
      </div>

      <form class="login100-form validate-form" #l="ngForm" (ngSubmit)="login( l )" >

        <span class="text-danger animated fadeIn"
         *ngIf="l.submitted && l.controls['username'].errors">El correo o usuario es obligatorio</span>
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Usuario</span>
          <input class="input100" type="text"
           name="username"
           placeholder="Ingresa el usuario"
           [(ngModel)]="usuario.email"
          required
          email>
          <span class="focus-input100"></span>
        </div>

        <span class="text-danger animated fadeIn"
         *ngIf="l.submitted && l.controls['pass'].errors">El password es obligatorio</span>
        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Contraseña</span>
          <input class="input100" type="password"
           name="pass"
           placeholder="Ingresa la contraseña"
           [(ngModel)]="usuario.password"
           required
           minlength="6">
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me"
            [(ngModel)]="recordarme">
            <label class="label-checkbox100" for="ckb1">
              Recuerdame
            </label>
          </div>

          <div>
            <a href="#" class="txt1">
              Olvide mi contraseña?
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button id="login" class="login100-form-btn" style="margin-right: 70px;" type="submit">
            Login
          </button>
          <button class="login100-form-btn" routerLink="/registro">
            Crear Usuario
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
